<footer style="background-color: #000; color: #fff; padding: 30px 15px;">
  <div style="text-align: center;">
    <h3 style="color: #fff;"><i class="fa fa-map-marker"></i> Contact:</h3>
    <p style="margin: 0;">
      Department of Computer Science<br>
      Address: 1111 Engineering Dr, Boulder, CO 80309
    </p>

    <p style="margin-top: 20px; color: #ccc;">
      &copy; {{ site.time | date: '%Y' }} <a href="{{ site.url }}" style="color: #ccc;">{{ site.url }}</a>.
    </p>
  </div>
</footer>