<!doctype html>
<html lang="en">

  {% include head.html %}
  {% include header.html %}
  {% include script.html %}

  <body>
    <div class="container">
      <div class="row">
	<div class="side-left col-sm-3 col-md-3">

      <div class="headlines-box">
	<div class="center">
	  <h4> {{page.title}} </h4> <hr/>
	  <img src="{{page.image_url}}" width="200" />
	</div>
      </div>

      <div class="headlines-box left">
	{% include toc.html html=content %}
      </div>

    </div>
    
    <div class="col-md-8">
	<h1 class="title-text"> {{page.caption}} </h1> <hr>
      <div> 
	{{ content }}
      </div>
    </div>
      </div>
    </div>
  </body>

  {% include footer.html %}
</html>
